<a href="https://colab.research.google.com/github/leandromad/Exemplo_1_Dados_Hospital/blob/main/Exemplo_1_Dados_Hospital.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EXEMPLO 1**

O Hospital Santo Augusto de Anjo realiza mensalmente 3.000 transfusões de sangue em pacientes internados. Para que o hospital consiga manter seus estoques, são necessárias 60 doações de sangue por dia. A Tabela DistFreqVarQual.xlsx do excel apresenta o total de doadores para cada tipo sanguíneo em determinado dia. Construa a tabela de distribuição de 
frequências para o problema em questão.

**Importa a biblioteca pandas**

In [1]:
import pandas as pd

**Pega caminho dos dados**

In [2]:
DadosExcel = '/content/drive/MyDrive/DistFreqVarQual.xlsx'

**Utiliza biblioteca pandas para receber dados da tabela excel**

In [4]:
df = pd.read_excel(DadosExcel)
df

  Tipo sanguíneo  Doadores
0             A+        15
1             A-         2
2             B+         6
3             B-         1
4            AB+         1
5            AB-         1
6             O+        32
7             O-         2

**Define o nome das colunas**

*F(i) = número de ocorrências de cada elemento*

In [6]:
df.columns = ['Tipo Sanguíneo', 'F(i)']
df

  Tipo Sanguíneo  F(i)
0             A+    15
1             A-     2
2             B+     6
3             B-     1
4            AB+     1
5            AB-     1
6             O+    32
7             O-     2

**Faz a soma dos elementos F(i)**

In [7]:
SomaFi = df['F(i)'].sum()
SomaFi

60

**Cria uma nova coluna em nosso DataFrame com o nome de F(ri)[%] e define seus valores**

*F(ri)[%] = Porcentagem relativa à frequência absoluta F(i)*

In [8]:
df['F(ri)[%]'] = round(((df['F(i)']*100)/SomaFi),2)
df

  Tipo Sanguíneo  F(i)  F(ri)[%]
0             A+    15     25.00
1             A-     2      3.33
2             B+     6     10.00
3             B-     1      1.67
4            AB+     1      1.67
5            AB-     1      1.67
6             O+    32     53.33
7             O-     2      3.33

**Cria uma nova coluna em nosso DataFrame com o nome de F(ai)e define seus valores**

*F(ai) = soma de todas as ocorrências até o elemento analisado*

*cumsum() = soma cumulativa*

In [9]:
df['F(ai)'] = df['F(i)'].cumsum()

In [10]:
df

  Tipo Sanguíneo  F(i)  F(ri)[%]  F(ai)
0             A+    15     25.00     15
1             A-     2      3.33     17
2             B+     6     10.00     23
3             B-     1      1.67     24
4            AB+     1      1.67     25
5            AB-     1      1.67     26
6             O+    32     53.33     58
7             O-     2      3.33     60

**Cria uma nova coluna em nosso DataFrame com o nome de F(rai)[%] e define seus valores**

F(rai)[%] = Soma de todas as frequências relativas até o elemento analisado

In [11]:
df['F(rai)[%]'] = df['F(ri)[%]'].cumsum()
df

  Tipo Sanguíneo  F(i)  F(ri)[%]  F(ai)  F(rai)[%]
0             A+    15     25.00     15      25.00
1             A-     2      3.33     17      28.33
2             B+     6     10.00     23      38.33
3             B-     1      1.67     24      40.00
4            AB+     1      1.67     25      41.67
5            AB-     1      1.67     26      43.34
6             O+    32     53.33     58      96.67
7             O-     2      3.33     60     100.00

**Cria uma linha depois da ultima linha com os dados passados em cada coluna**

In [13]:
df.loc[len(df)] = ['Soma', df['F(i)'].sum(), df['F(ri)[%]'].sum(), '', '']

In [15]:
df

  Tipo Sanguíneo  F(i)  F(ri)[%] F(ai) F(rai)[%]
0             A+    15     25.00    15      25.0
1             A-     2      3.33    17     28.33
2             B+     6     10.00    23     38.33
3             B-     1      1.67    24      40.0
4            AB+     1      1.67    25     41.67
5            AB-     1      1.67    26     43.34
6             O+    32     53.33    58     96.67
7             O-     2      3.33    60     100.0
8           Soma    60    100.00